h1{
    color: #d53a9d;
}

h2{
    color: lightseagreen;
}

h3{
    color: limegreen;
}

.evo{
    width: 250px;
    height: 350px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}